@{
    ViewData["Title"] = "BlogDetail";
}
@model BlogInfo

<section class="About container m-auto">
    <div class="main-intro">
        <div class="mb-5">
            <h1 class="text-center col-sm-12" style="font-size: 10vw; color: #444444; text-align: center;">
                B<span>log</span>De<span>ta</span>il.
            </h1>
        </div>
        <img class="imageBlogDetail" src="@Model.BlogImage" alt="">
        <div class="content" id="blog_content_@Model.BlogID">
                    <input type="hidden" class="blog_content mb-5" name="blog_content_@Model.BlogID" value="@Model.BlogContent">
        </div>


        <div class="Comment mt-5">
            <h2>Comments<i class="fas fa-heart mx-2 h4" style="color: #FF1493;"></i></h2>
            <section style="background-color: #eee;">
                <div class="container my-5 py-5">
                    <div class="row d-flex justify-content-center">
                    <div class="col-md-12 col-lg-10 col-xl-8">
                        <div class="card">
                            @foreach(BlogComment item in ViewBag.Comments) {

                                <div class="card-body">
                                    <div class="d-flex flex-start align-items-center">
                                    <img
                                        class="rounded-circle shadow-1-strong me-3 mr-2"
                                        src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(19).webp"
                                        alt="avatar"
                                        width="60"
                                        height="60"
                                    />
                                    <div>
                                        <h6 class="fw-bold text-primary mb-1">@item.Username</h6>
                                        <p class="text-muted small mb-0">
                                        @item.CommentDate
                                        </p>
                                    </div>
                                    </div>

                                    <p class="mt-3 mb-4 pb-2">
                                    @item.CommentContent
                                    </p>

                                    <div class="small d-flex justify-content-start">
                                    <a href="#!" class="d-flex align-items-center me-3 mr-2">
                                        <i class="far fa-thumbs-up me-2"></i>
                                        <p class="mb-0">Like</p>
                                    </a>
                                    </div>
                                </div>
                            }
                        
                        
                        @if(ViewBag.LoginUserName != null) {

                            <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
                                <div class="d-flex flex-start w-100">
                                <img
                                    class="rounded-circle shadow-1-strong me-3 mr-2"
                                    src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(19).webp"
                                    alt="avatar"
                                    width="40"
                                    height="40"
                                />
                                <div class="form-outline w-100">
                                    <textarea
                                    class="form-control"
                                    id="textAreaExample"
                                    rows="4"
                                    style="background: #fff;"
                                    ></textarea>
                                    <label class="form-label" for="textAreaExample">Comment</label>
                                </div>
                                </div>
                                <div class="float-end mt-2 pt-1">
                                <button type="button" class="btn btn-primary btn-sm" id="PostComment">Post comment</button>
                                <button type="button" class="btn btn-outline-primary btn-sm">Cancel</button>
                                </div>
                            </div>
                        }
                        </div>
                    </div>
                    </div>
                </div>
                </section>
        </div>
    </div>
</section>
<script>
    // Setup Blog Content
    let Contents = document.getElementsByClassName("blog_content");
    for (i = 0; i < Contents.length; i++) {
        let target = document.getElementById(Contents[i].name);
        target.innerHTML = Contents[i].value;
    }
    

</script>
@if(ViewBag.LoginUserName != null) {
    <script>
        $(document).ready(() => {
        $("#PostComment").click(() => {
            let UserName = 
            $.ajax({
                url: '/Comment/OnPost',
                type: 'post',
                data: {
                    CommentContent: $('#textAreaExample').val(),
                    BlogID: @Model.BlogID,
                    UserName: "@ViewBag.LoginUserName"
                },
                success: (data) => {
                    console.log('success!');
                    location.reload();
                }
            });
        })
    });
    </script>
}
<script src="https://your-site-or-cdn.com/fontawesome/v6.0.0/js/all.js" data-auto-a11y="true"></script>